<!--Event Board-->
<div id="events" class="divider"> </div>

<div class="event-board">
    <div id="google-calendar-cards" class="container" style="text-align: center;">
    <h2 class="animate__animated p-0 mx-auto" style="text-align: center;">
        Upcoming Events
    </h2>
    </div>

    <!--Event Calendar-->
    <div class="container py-5" style="text-align: center;">
        <h2 class="animate__animated pt-5 pb-2 mx-auto" style="text-align: center;">
        Event Calendar
        </h2>
        <div id="calendar" class="animate__animated" style="text-align: center;margin-left: 15%;margin-right: 15%;"></div>
    </div>
</div>