<div id="headlines" class="main-carousel mb-5 carousel slide" data-ride="carousel" >
    <!-- Indicators -->
    <ul class="carousel-indicators">
        <li data-target="#headlines" data-slide-to="0" class="active"></li>
        <li data-target="#headlines" data-slide-to="1"></li>
        <li data-target="#headlines" data-slide-to="2"></li>
    </ul>

    <!-- The slideshow -->
    <div class="carousel-inner">
        <div class="carousel-item active" style="background: rgb(18, 55, 110); background: linear-gradient(9deg, rgb(24, 63, 121) 0%, rgb(15, 122, 198) 44%, rgb(21, 180, 249) 100%);">
            <div class="carousel-item-content">
                <div class="d-flex flex-column">
                    <h2 class="c-white animate__animated" style="margin-top: 1rem;">We're Back!</h2>
                    <p class="c-white animate__animated">
                    The American Society of Mechanical Engineers has returned to UCI, and we're planning 
                        exciting new events and programs for students to take part in.
                    </p>
                </div>
                <img class="animate__animated" style="margin-bottom: 1rem;" src="images/White Anteater.png" alt="Sun Peeking out of the Clouds" height="auto" width="400px">
            </div>
        </div>
        <div class="carousel-item"  style="background: #FFCF44;">
            <div class="carousel-item-content">
                <div class="d-flex flex-column">
                    <h2 class="animate__animated" style="margin-top: 1rem;">Join Us</h2>
                    <p class="animate__animated">
                    Sign up for the <a class = "contrast-link" href="./index.html#join-us">Weekly Newsletter</a> to get club updates!
                    </p>
                </div>
                <img class="animate__animated" style="float: none; margin-bottom: 1rem;" src="images/form.png" alt="Form" height="200px">
            </div>
        </div>
        <div class="carousel-item" style=" background: black;">
            <div  class="flex-column carousel-item-content-vertical">
                <div class="d-flex flex-column text-center">
                    <h2 class="c-white animate__animated" style="margin-top: 1rem;">Interested in Projects?</h2>
                    <p class="c-white animate__animated">
                    Learn about our projects like <a href="{% post_url 2022-07-02-HPVCSummer %}">Human Powered Vehicle</a> and how you can get involved.
                    </p>
                </div>
                <img class="animate__animated" style="margin-bottom: 1rem;" src="images/fiat-lux.png" alt="Form" width="66%">
            </div>
        </div>
    </div>
      
    <!-- Left and right controls -->
    <a class="carousel-control-prev" href="#headlines" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#headlines" data-slide="next">
        <span class="carousel-control-next-icon"></span>
    </a>
</div>