<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">
    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1" style="padding-left: 2rem;">
        <div>
          <img src="/images/Letters and Anteater.png" alt="ASME@UCI Logo" height="auto" width="200px">
          <ul class="contact-list">
            <li class="p-name">
              American Society of Mechanical Engineers
              at University of California, Irvine
              </li>
              <li><a class="u-email" href="mailto:asme@uci.edu">asme@uci.edu</a></li>
          </ul>
        </div>
      </div>

      <div class="footer-col footer-col-2">
      </div>

      <div class="footer-col footer-col-3" style="padding-left: 2rem;">
        {%- include social.html -%}
      </div>
    </div>

  </div>

</footer>
