<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">
    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <img src="/images/Letters and Anteater.png" alt="ASME@UCI Logo" height="auto" width="200px">
        <ul class="contact-list">
          <li class="p-name">
            American Society of Mechanical Engineers
            at University of California, Irvine
            </li>
            <li><a class="u-email" href="mailto:asme@uci.edu">asme@uci.edu</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        {%- include social.html -%}
      </div>

      <div class="footer-col footer-col-3">
        <p>Welcome to the American Society of Mechanical Engineers at UCI! We're a community of students dedicated to learning and collaborating in all things engineering. The club hosts events ranging from competitions to networking nights. Whether you want to show off your skills in competitive events or meet with professionals in the tech world, ASME is a home to anyone with a passion for science and engineering.
        </p>
      </div>
    </div>

  </div>

</footer>
