<!--"Join Us"/Newsletter Form-->
<div id="join" class="c-img-background c-lg-tile">
<div id="join-us" class="animate__animated c-tile c-background-primary container  d-flex flex-column">
<!--Title-->
    <div class="d-flex">
    <div>
        <h1>Join Us</h1>
        <p>Sign Up for the Newsletter</p>
    </div>
    <span style="color: white; font-size: 5rem;" class="fas fa-envelope-open-text my-auto ml-auto mr-0"></span>
    </div>
<!--Sign Up Form-->
    <!-- Begin Mailchimp Signup Form -->
    <div id="mc_embed_signup" class="mt-3">
    <form action="https://asmeuci.us1.list-manage.com/subscribe/post?u=946be379e994a69582a86839c&amp;id=3f5dcbf8b2" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <div id="mc_embed_signup_scroll">
        <div class="form-group mc-field-group">
            <!--<label for="mce-EMAIL">Email Address</label>-->
            <input type="email" value="" name="EMAIL" class="form-control required email" id="mce-EMAIL" placeholder="Email Address" >
        </div>
        <div class="form-group mc-field-group">
            <!--<label for="mce-FNAME">First Name </label>-->
            <input type="text" value="" name="FNAME" class="form-control" id="mce-FNAME" placeholder="First Name">
        </div>
        <div class="form-group mc-field-group">
            <!--<label for="mce-LNAME">Last Name </label>-->
            <input type="text" value="" name="LNAME" class="form-control" id="mce-LNAME" placeholder="Last Name">
        </div>
            <div id="mce-responses" class="clear">
                <div class="response" id="mce-error-response" style="display:none"></div>
                <div class="response" id="mce-success-response" style="display:none"></div>
            </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_946be379e994a69582a86839c_3f5dcbf8b2" tabindex="-1" value=""></div>
        <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary mt-4 button"></div>
        </div>
    </form>
    </div>
    <!--End mc_embed_signup-->
    </div>
    <a href="https://forms.gle/yhQYjRjgk1wU6bjG7" id="full-membership" class="hvr-grow-rotate  container mt-5 d-flex justify-content-between">
        <div>Want to become a <b>full member</b>?</div>
        <i style="font-size:1.5rem;" data-toggle="collapse" data-target="" class="fas fa-angle-right my-auto" aria-hidden="true" aria-expanded="true"></i>
    </a>
    <div style="padding-top: 3rem;"></div>
</div>

<!--Social Media Links-->
<div id="contact" class="c-tile p-5 container">
    <h2 data-aos="fade-up" class="p-0 mx-auto" style="text-align: center;">
      Follow Us
    </h2>
    <div data-aos="fade-up" data-aos-duration="500" class="row c-black c-bold">
      <div class="p-5 col-sm-4 text-center">
        <a class="c-md-icon fab fa-facebook hvr-float" href="https://www.facebook.com/American-Society-of-Mechanical-Engineers-at-UCI-103751025187023"></a>
        <p class="pt-3">Facebook</p>
      </div>
      <div data-aos="fade-up" data-aos-duration="750" class="p-5 col-sm-4 text-center">
        <a href="https://www.instagram.com/asme.at.uci/"  class="c-md-icon fab fa-instagram hvr-float"></a>
        <p class="pt-3">Instagram</p>
      </div>
      <div data-aos="fade-up" data-aos-duration="1000" class="p-5 col-sm-4 text-center">
          <a href="https://discord.gg/pvxJHTkduP" class="c-md-icon fab fa-discord hvr-float"></a>
          <p class="pt-3">Discord</p>
      </div>
  </div>
</div>