<!--Core Board List-->

<div style="padding:0!important;padding-bottom: 3rem!important;" class="c-wide-tile p-5 container">
  <h2 data-aos="fade-up" class="p-0 mx-auto" style="text-align: center;">ASME Board of 2022-2023</h2>
  <div style="padding-top: 0!important" class="d-flex justify-content-center flex-wrap pt-5">
    {% include card.html image="2023/Anthony.jpg" name="Anthony Chin" role="President" email="chinag@uci.edu"%}
    {% include card.html image="2023/Ailsa.jpg" name="Ailsa Watt" role="Internal Affairs Director" email="arwatt@uci.edu"%}
    {% include card.html image="2023/Rashed.jpg" name="Rashed Eisa" role="External Affairs Director" email="rreisa@uci.edu"%}
    {% include card.html image="2023/Noelle.jpg" name="Noelle Camanyag" role="Communications Director" email="ncamanya@uci.edu"%}
    {% include card.html image="2023/Anisha.jpg" name="Anisha Jayasekara" role="Projects Director" email="aajayase@uci.edu"%}
    {% include card.html image="2023/Shakeel.jpg" name="Shakeel Riyaj" role="Public Relations Coordinator" email="sriyaj@uci.edu"%}
    {% include card.html image="2023/Ryan.jpg" name="Ryan Mawlawi" role="Finance Director" email="rmawlawi@uci.edu"%}
    {% include card.html image="2023/Andrew.jpg" name="Andrew Kim" role="Secretary" email="andrjk10@uci.edu"%}
    {% include card.html image="2023/Quan.jpg" name="Quan Nguyen" role="Advisor" email="quanan3@uci.edu"%}
  </div>
</div>
<!--Communication Committee List-->
<div style="padding:0!important;padding-bottom: 3rem!important;" class="c-wide-tile p-5 container">
  <h2 data-aos="fade-up" class="p-0 mx-auto" style="text-align: center;">Communications Committee</h2>
  <div style="padding-top: 0!important" class="d-flex justify-content-center flex-wrap pt-5">
    {% include card.html image="2023/Allen.jpg" name="Allen Luo" role="" email="ayluo1@uci.edu"%}
    {% include card.html image="2023/Ashley.jpg" name="Ashley Kang" role="" email="akang8@uci.edu"%}
    {% include card.html image="2023/Raymond.jpg" name="Raymond Dunn" role="" email="rdunn1@uci.edu"%}
  </div>
<!--Projects Committee List-->
<div style="padding:0!important;padding-bottom: 3rem!important;text-align: center;" class="c-wide-tile p-5 container">
  <h2 data-aos="fade-up" class="pt-5 mx-auto" style="text-align: center;">Human Powered Vehicle Competition</h2>
  <div style="padding-top: 0!important; text-align: left;" class="d-flex justify-content-center flex-wrap pt-5">
    {% include card.html image="2023/Adrian.jpg" name="Adrian Ornelas" role="Project Manager" email="afornela@uci.edu"%}
    {% include card.html image="2023/Crew.jpg" name="Crew Parker" role="Project Manager" email="crewp@uci.edu"%}
    {% include card.html image="2023/David.jpg" name="David Lozano" role="Project Lead Dynamics" email="lozanod2@uci.edu"%}
    {% include card.html image="2023/Gabriel.jpg" name="Gabriel Sackinger" role="Project Lead Dynamics" email="gsacking@uciedu"%}
    {% include card.html image="2023/Amanda.jpg" name="Amanda Lieng" role="Project Lead Electronics" email="lienga@uci.edu"%}
  </div>
  <a class="button" class="btn btn-outline-primary" href="/people/HPVC_23" style="margin-top: 2.5rem;width: 10rem;">HPVC Full Team</a>
</div>

<!--Former Officers List-->
<div style="padding:0!important;" class="c-wide-tile p-5 container">
  <h2 data-aos="fade-up" class="pt-5 mx-auto" style="text-align: center;">Former Officers</h2>
  <div style="padding-top: 0!important;" class="d-flex justify-content-center flex-wrap pt-5">
    <a class="button" class="btn btn-outline-primary" href="/people/officers_2022" style="margin: 1rem;">2022 Board</a>
    <a class="button" class="btn btn-outline-primary" href="/people/officers_2021" style="margin: 1rem;">2021 Board</a>
  </div>
</div>
