<ul class="social-media-list">
  <p style="font-size: 21px">Social Media:</p>
  <li><a href="https://www.facebook.com/people/American-Society-of-Mechanical-Engineers-at-UCI/100066855818538/"><svg class="svg-icon"><use xlink:href="{{ '/assets/minima-social-icons.svg#facebook' | relative_url }}"></use></svg> <span class="username" style="font-size: 21px;">ASME@UCI</span></a></li>
  <li><a href="https://www.instagram.com/asme.at.uci/"><svg class="svg-icon"><use xlink:href="{{ '/assets/minima-social-icons.svg#instagram' | relative_url }}"></use></svg> <span class="username" style="font-size: 21px;">ASME@UCI</span></a></li>
  <li><a href="https://github.com/ASME-at-UCI"><svg class="svg-icon"><use xlink:href="{{ '/assets/minima-social-icons.svg#github' | relative_url }}"></use></svg> <span class="username" style="font-size: 21px;">ASME-at-UCI</span></a></li>
  <!-- <li><a href="https://www.linkedin.com/in/url"><svg class="svg-icon"><use xlink:href="{{ '/assets/minima-social-icons.svg#linkedin' | relative_url }}"></use></svg> <span class="username">url</span></a></li> -->
  <!-- <li><a href="{{ 'feed.xml' | relative_url }}"><svg class="svg-icon"><use xlink:href="{{ '/assets/minima-social-icons.svg#rss' | relative_url }}"></use></svg> <span>{{ site.rss | escape }}</span></a></li> -->
</ul>
