
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yearbook</title>
    <!-- links the html page to the css page-->
    <link rel="stylesheet" href="front_page_styles.css">
</head>

<body>
    
    <div class="container">

        <!--2022-2023 item-->
        <div class="items item-1">
            <a href="22_23.html" class="link">
                <img src="pics/19.jpg" alt="Senior Design Networking Night" class="image">
                <div class="link_overlay">
                    <span>2022-2023</span>
                </div>
            </a>
        </div>

        
    </div>







</body>
</html>